.card-back{
    height: 300px;
    width: 250px;
    background-repeat: inherit;
    background-size: cover;
    box-shadow: 3px 15px 5px -9px rgba(0,0,0,0.41);
    -webkit-box-shadow: 3px 15px 5px -9px rgba(0,0,0,0.41);
    -moz-box-shadow: 3px 15px 5px -9px rgba(0,0,0,0.41);  
}
.card-front{
// border: 1px solid black;
// background-color: black;
display: flex;
align-items: center;
justify-content: center;
min-width: 55%;


.card-inside{
    margin: 5px;
     border: 3px outset white;
     color: white;
     text-align: center;
     display: flex; 
    align-self: center;
    justify-content: center;
    flex-direction: column;
    padding: 25px;
    background-repeat: inherit;
    background-size: cover;
    box-shadow: 3px 15px 5px -9px rgba(0,0,0,0.41);
-webkit-box-shadow: 3px 15px 5px -9px rgba(0,0,0,0.41);
-moz-box-shadow: 3px 15px 5px -9px rgba(0,0,0,0.41);   

    &::before{
        border: 4px outset rgb(0, 0, 0);
        padding: 4px;
        background-color: black;
    }
.card-circle{
    color: #000;
    border-radius: 50%;
    background-color: white;
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    @media only screen and (max-width: 600px) {
        width: 150px;
        height: 150px;
    }

    h1{
        text-align: center;
        font-size: 2.6rem;
        // font-stretch: condensed;
        -webkit-transform: scale(1, 2);
        -moz-transform: scale(1, 2);
        -o-transform: scale(1, 2);
        transform: scale(1, 2);
        // font-family: 'Abril Fatface', cursive;
        font-weight: bold;
        font-family: 'Libre Baskerville', serif;
    }
}

}
}

.deck-listing{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    div{
        justify-items: center;
        margin: auto;
        text-align: center;
    }
}