// @import 'Components/Card/Card.scss';

// $cardSize-height: 50%;
// $cardSize-width: 50%;
// $cardCircle: 50%;

.App{
    display: flex;
    flex-direction: column;
}
body{
    min-height: 100vh;
}

.game-board{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
}