// @import 'Components/Card/Card.scss';

// $cardSize-height: 50%;
// $cardSize-width: 50%;
// $cardCircle: 50%;
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
.App{
    // display: flex;
    // flex-direction: column;
}
body{
    min-height: 99vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.game-board{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    @media only screen and (max-width: 600px) {
        grid-template-columns: 1fr;
        // height: 90vh;
    }

}
.card-placement{
    display: flex;
    flex-direction: column;
    justify-content: center;

    h3{
        text-align: center;
    }
}

.intro {
    background: rgb(170,3,3);
    background: radial-gradient(circle, rgba(170,3,3,1) 32%, rgba(66,5,5,1) 98%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    h1 {
        font-size: 2.7rem;
        color: white;
        -webkit-transform: scale(2);
        -moz-transform: scale(2);
        -o-transform: scale(2);
        transform: scale(2);
    }
}

.default-background{
    min-height: 100vh;
    flex-direction: column;
    display: flex;
}


.redBackground {
    color: white;
    background: rgb(170,3,3);
    background: radial-gradient(circle, rgba(170,3,3,1) 32%, rgba(66,5,5,1) 98%);
}

.whiteBackground{
    
}

.centered {
    align-items: center;
    justify-content: center;
    flex-direction: column;
}